<div class="accordion">
    <div class="row card assertionContainer">
        <div>
            <button class="btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseOne">
                Assertion Editor
            </button>
        </div>
        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" [collapse]="isCollapsed" >
            <div class="row form-group">
                <div class="col-md-6">
                    <label class="col-form-label">Expected Result (Json)</label>
                    <json-viewer #jsonViewerForAssertExpected (change)="onChangeExpected($event)"></json-viewer>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label">Assertion Result (Json)</label>
                    <json-viewer #jsonViewerForAssertResult (change)="onChangeResult($event)"></json-viewer>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">Status</label>
                <label class="col-sm-10 col-form-label" [ngStyle]="getAssertionStatusLabelStyle(assertion.status)">{{
                    AssertionStatus[assertion.status] }}</label>
            </div>
            <span *ngIf="assertion.lastAssertedOn">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Last Asserted On</label>
                    <label class="col-sm-10 col-form-label">{{assertion.lastAssertedOn | date:'short'}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Duration</label>
                    <label class="col-sm-10 col-form-label">{{assertion.duration}} ms</label>
                </div>
            </span>
        </div>
    </div>
</div>