.sidebar .nav .nav-title {
    font-size: 0.875rem;
}

.add-project {
    margin: -5px 0px 0px 0px;
}

.add-project a {
    font-size: large;
}

.project-search {
    font-size: small !important;
    margin: 0px 5px 5px 5px;
    width: 95%;
}