.invocationTree {
    background: #eceff1;
    border-width: 1px 1px 1px 1px;
    border-style:  solid;
    border-color: #cfd8dc;
    min-height: 200px;
    max-height: 1200px;
    padding: 0px 0px 0px 5px;
}

.invocationDetail {
    border-width: 1px 1px 1px 0px;
    border-style:  solid;
    border-color: #cfd8dc;
    min-height: 200px;
}

.faultedInvocation {
    color: red;
}

.invocationModeReplay {
    color: rgb(3, 177, 3);
}