<span class="h5">{{projectKey}}</span>
<hr/>
<app-project-update></app-project-update>
<hr />
<span class="h5">{{ projectKey }} Scenarios</span>
<div class="pull-right">
  <a [routerLink]="['createScenario']" class="btn btn-primary" role="button" aria-pressed="true"><i class="fa fa-film"></i> Create Scenario</a>
</div>
<hr />
<table class="table" *ngIf="scenarios && scenarios.length > 0">
  <thead>
    <tr>
      <th>Scenario No</th>
      <th>Scenario Name</th>
      <th>Match Strategy</th>
      <th>Description</th>
      <th>Labels</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let scenario of scenarios">
      <th scope="row"><a [routerLink]="['scenario', scenario.scenarioNo]">{{scenario.scenarioNo}}</a></th>
      <td>{{scenario.scenarioName}}</td>
      <td>{{InvocationMatch[scenario.invocationMatchStrategy]}}</td>
      <td class="scenario-desc">{{scenario.scenarioDescription}}</td>
      <td>
        <span *ngFor="let label of scenario.labels" class="badge badge-warning scenario-label">{{label}}</span>
      </td>
    </tr>
  </tbody>
</table>
<blockquote class="blockquote" *ngIf="scenarios && scenarios.length === 0">
  <p class="mb-0">There are no available scenarios.</p>
</blockquote>