<span class="h5" *ngIf="scenario">Scenario #{{scenario.scenarioNo}} - {{scenario.scenarioName}}</span>
<div class="pull-right">
  <button type="button" class="btn btn-danger" (click)="recordScenario()"><i class="fa fa-video-camera"></i> Overwrite</button>
  <button type="button" class="btn btn-primary" (click)="callScenario()"><i class="fa fa-bolt"></i> Call</button>
  <button type="button" class="btn btn-primary" (click)="playScenario()"><i class="fa fa-play"></i> Play</button>
  <button type="button" class="btn btn-success" (click)="assertScenario()"><i class="fa fa-flask"></i> Assert</button>
  <button type="button" class="btn btn-primary" (click)="cloneScenario()"><i class="fa fa-clone"></i> Clone</button>
  <button type="button" class="btn btn-primary" (click)="saveScenario()"><i class="fa fa-floppy-o"></i> Save</button>
</div>
<hr/>
<div *ngIf="scenario">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-3">
          <label class="col-form-label">Scenario No</label>
          <input type="text" class="form-control" placeholder="Scenario No" [(ngModel)]="scenario.scenarioNo" readonly>
        </div>
        <div class="col-md-9">
          <label class="col-form-label">Scenario Name</label>
          <input type="text" class="form-control" placeholder="Scenario Name" [(ngModel)]="scenario.scenarioName">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="col-form-label">Description</label>
          <textarea class="form-control scenarioDesc" placeholder="Description" [(ngModel)]="scenario.scenarioDescription"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="col-md-12" *ngIf="scenario.steps && scenario.steps.length > 0">
        <label class="col-form-label">Recorded Steps</label>
        <div class="list-group stepList">
          <a [routerLink]="['step', step.stepNo]" [routerLinkActive]="['active']" class="list-group-item" *ngFor="let step of scenario.steps">#{{step.stepNo}} - {{step.stepName}} <div style="font-size: x-small">{{step.createdOn | date:'medium'}}</div></a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>